<div class="row alerts">
    <div class="col-md-4">
        <div id="success" class="alert alert-success {{#if noMessage}}invisible{{/if}}">
            {{ successMgs }}
        </div>
    </div>
</div>

<div class="games">
    {{# each products }}
            {{# each this}}
                <div class="game">
                    <div class="card thumbnail" style="width: 400px;">
                        <img class="card-img-top shop-image  img-fluid" src="{{ this.imagePath }}" alt="Card image cap">
                        <div class="card-block text-center">
                            <div><h4 class="card-title text-truncate">{{ this.title }}</h4></div>
                            {{!-- <p class="card-text product-description">
                                {{ this.description }}
                            </p> --}}
                            <div class="clearfix">
                                <div class="price text-center">from HK  ${{ this.price }}</div>
                                <a href="/cart/add-to-cart/{{this._id}}" class="btn btn-raised btn-dirty-pink pull-right">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
    {{/each}}
</div>
